.App {
	text-align: center;
	padding: 50px;
}
.card {
	width: 160px;
	height: 60px;
	margin: 20px auto;
	display: flex;
	align-items: center;
	border-radius: 16px;
	border: 1px solid #f0f0f0;
	background-color: #fafafa;
	padding: 10px;
}
.logo {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.content {
	max-width: 100px;
	overflow: hidden;
  font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.con{
  margin-left:20px
}
